:root {
  --color-primary: #ff6b1a;
  --color-primary-dark: #e9540a;
  --color-primary-light: #fff1e5;

  --color-text: #252525;
  --color-text-light: #777777;
  --color-border: #f0ddcb;

  --color-background: #fffaf3;
  --color-white: #ffffff;
  --color-danger: #df4646;

  --header-height: 70px;

  --radius-small: 8px;
  --radius-medium: 14px;
  --radius-large: 22px;

  --shadow-card: 0 12px 35px rgb(164 88 28 / 10%);
}
